<%- include('partials/header') %>

<h1>Wallpaper Database</h1>

<a class="btn btn-primary btn-large" href="/walls">View Wallpapers</a>
<br>
<br>
<a class="btn btn-primary btn-large" href="/walls/new"> Add Wallpaper </a>

<%- include('partials/footer') %>